// Bootstrap imports
@import "bootstrap/scss/bootstrap-grid";

// Custom imports
@import 'fonts';
@import 'variables';
@import 'helper';
@import 'modules/header';
@import 'modules/content';
@import 'modules/footer';

img {max-width: 100%;}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $bg;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

p {
  line-height: 1.5em;
  font-size: 18px;
}

p + p {
  margin-top: 10px;
}
