.nav-holder {
    background: #2c3e50;
    color: #fff;
    list-style: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    clip-path:circle(0%);
}

.nav-holder ul {
    list-style: none;
}

.nav-holder li {
    margin-bottom: 10px;
}

.nav-holder a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    transition: color .3s;
}

.nav-holder a i {
    margin-right: 10px;
}

.nav-holder a:hover {
    color: #2980b9;
}

.nav-hamburger {
    position: relative;
    height: 15px;
    width: 30px;
    z-index: 10;
    display: block;
    cursor: pointer;
}

.nav-hamburger:after, .nav-hamburger:before {
    content: '';
    background: #2c3e50;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 0;
    top: 0;
    transition: all .3s ease;
}

.nav-hamburger:after {
    top: 10px;
}

.active-menu .nav-hamburger:after, .active-menu .nav-hamburger:before{
    background: #fff;
}

.active-menu .nav-hamburger:before {
    transform: rotate(45deg);
}

.active-menu .nav-hamburger:after {
    transform: rotate(-45deg);
    top: 0;
}

.active-menu .nav-holder {
    clip-path:circle(100%);
}