.about-section {
    margin-bottom: 100px;
   

    .social {
        list-style: none;
        @extend .flex-container; 
        @extend .horizontal-center;
        margin-top: 20px;
        width: 100%;
        li {
            margin-right: 10px;
        }
    }

    p {
        font-size:18px;
    }

    .author-image {
        background: $white-color;
        padding: 10px;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        overflow: hidden;
    }

    .skills-list {
        list-style: none;
        @extend .flex-container; 
        ul {
            display: block;
            list-style: none;
            li {
                @extend .flex-container; 
                @extend .vertical-center;
            }
        }
        li {
            padding: 10px;
            font-weight: 500;
            .html {
                i {
                    color: #e44d26;
                }
            }
            .css {
                i {
                    color: #264de4;
                }
            }
            .sass {
               i {
                    color: #cd6799;
               }
            }
            .less {
               i {
                    color: #2980b9;
               }
            }
            .js {
                i {
                    color: #f0db4f;
                }
            }
            .react {
                i {
                    color: #61dbfb;
                }
            }
            .git {
                i {
                    color: #f34f29;
                }
            }
            .node {
                i {
                    color: #68a063;
                }
            }
            .php {
                i {
                    color: #474a8a;
                }
            }
            .mysql {
                i {
                    color: #f29111;
                }
            }
            i {
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }
    .skills-holder {
        @extend .flex-container;
        align-items: baseline;
        justify-content: space-between;
        p {
            max-width: 700px;
        }
    }
}

.h3 {
    font-size: 45px;
    font-weight: 400;
    color: $primary-color;
    text-align: center;
    margin-bottom: 60px;
}

.employment-history {
    background: $white-color;
    clip-path: polygon(60% 13%, 205% 40%, 100% 100%, 0% 100%, 0 24%);
    -webkit-clip-path: polygon(60% 13%, 205% 40%, 100% 100%, 0% 100%, 0 24%);
    margin-bottom: 100px;
    padding-top: 300px;
    padding-bottom: 100px;
    
}

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out,
                border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #CCD5DB;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}

.timeline-item {
    padding-left: 40px;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
}

.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $primary-color;
}

.timeline-content {
    padding-bottom: 40px;
    p:last-child {
        margin-bottom: 0;
    }
}

.timeline-centered {
    position: relative;
    @extend .flex-container;
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 50%;
        }
        > .timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }    
        > .timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}

.education {
    padding-bottom: 100px;
    p {
        text-align: center;
    }
}

.dark-theme {
    background: #333;
    color: $white-color;

    .employment-history {
        background: #333;
        -webkit-clip-path: none;
        clip-path: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    a {
        color: $white-color; 
    }

    .h3 {
        color: $white-color;
    }
}

@media (max-width: 991px) {
    .timeline {
        list-style: none;
        flex-wrap: wrap;
        text-align: center;
    }
    .timeline-item  {
        padding-left: 0;
        width: 100%;
    }

    .timeline-info, .timeline-title {
        margin-bottom: 10px;
    }

    .timeline-marker {
        display: none;
    }
}

@media (max-width: 800px) {
    .employment-history {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        margin-bottom: 50px !important;
    }

    .education { padding-bottom: 50px !important;}
    .about-section {margin-bottom: 50px;}

    .skills-holder {
        flex-wrap: wrap;
        justify-content: center !important;

        p {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .h3 {
        font-size: 35px;
        margin-bottom: 30px;
    }
}

@media (max-width: 527px) {
    .about-section .author-image {
        width: 200px;
        height: 200px;
    }
}